@if (show_new_password_form) {
  <form class="w-100">
    <div class="text-center mb-10">
      <h1 class="text-dark fw-bolder mb-3">Reset Password</h1>
    </div>
    <div class="mb-10 p-relative">
      <label class="form-label fs-6 fw-bolder text-dark">New Password</label>
      <div class="d-flex flex-stack form-group p-relative mb-3">
        <input [type]="password_input_type_text ? 'text' : 'password'" [formControl]="newPassword" class="form-control form-control-lg form-control-solid"
          name="password" autocomplete="new-password" placeholder="Enter password">
        <i class="bi cursor-pointer suffix-icon" [ngClass]="password_input_type_text ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
          (click)="password_input_type_text = !password_input_type_text"></i>
      </div>
      <div class="d-flex flex-stack form-group p-relative">
        <input [type]="repeat_password_input_type_text ? 'text' : 'password'" [formControl]="repeatNewPassword" class="form-control form-control-lg form-control-solid"
          [ngClass]="password_match ? '' : 'is-invalid-password'" name="repeatNewPassword" autocomplete="new-password" placeholder="Re-enter your new password">
        <i class="bi cursor-pointer suffix-icon" [ngClass]="repeat_password_input_type_text ? 'bi-eye-slash-fill' : 'bi-eye-fill'"
          (click)="repeat_password_input_type_text = !repeat_password_input_type_text"></i>
      </div>
      @if (!password_match) {
        <div class="invalid-feedback">
          <div>Passwords did not match!</div>
        </div>
      }
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-lg btn-spacex w-100" (click)="changePassword()" [disabled]="!newPassword.value || !repeatNewPassword.value || !password_match">
        Change Password
      </button>
    </div>
  </form>
}

@if (changed_password) {
  <div>
    <div class="text-center mb-10">
      <h1 class="text-dark fw-bolder mb-3">Password Changed!</h1>
    </div>
    <div class="text-center mb-10">
      <p class="fs-6 text-dark">Your account password has been changed successfully!</p>
    </div>
    <div class="text-center">
      <button [routerLink]="'/auth/login'" class="btn btn-lg btn-spacex w-100">
        Login to your account
      </button>
    </div>
  </div>
}

@if (show_auth_error_response) {
  <div>
    <div class="text-center mb-10">
      <h1 class="text-dark fw-bolder mb-3">{{ authenticateErrorResponseObject.title }}</h1>
    </div>
    <div class="text-center mb-10">
      <p class="fs-6 text-dark">{{ authenticateErrorResponseObject.info }}</p>
    </div>
  </div>
}
