@if (show_reset_password_form) {
  <form class="w-100">
    <div class="text-center mb-10">
      <h1 class="text-dark fw-bolder mb-3">Forgot Password</h1>
    </div>

    <div class="mb-10 p-relative">
      <label class="form-label fs-6 fw-bolder text-dark">Email</label>

      <input class="form-control form-control-lg form-control-solid"
        type="text"
        name="email"
        [ngClass]="is_email_registered ? '' : 'is-invalid'"
        autocomplete="new-password"
        [formControl]="email"
        (focusout)="checkEmail()"
        placeholder="Enter your email">

      @if (!is_email_registered) {
        <div class="invalid-feedback">
          <div>Email is not registered!</div>
        </div>
      }
        @if (failed_sending_email) {
        <div class="invalid-feedback">
          <div>{{sending_email_error}}</div>
        </div>
        }
    </div>

    <div class="text-center">
      <button type="button"
        class="btn btn-lg btn-spacex w-100 mb-5"
        (click)="sendResetPasswordToken()"
        [disabled]="!email.value || !is_email_registered">
        Reset Your Password
      </button>
    </div>

    <div class="mb-0 p-relative">
      <div class="d-flex flex-stack mb-2">
        <span class="fs-6 text-dark">Do you know your password?</span>

        <span [routerLink]="'/auth/login'"
          class="text-dark fs-6 fw-bolder cursor-pointer">
          Login to your account
        </span>
      </div>
    </div>
  </form>
}

@if (show_resend_email) {
  <div class="text-center mb-10">
    <h1 class="text-dark fw-bolder mb-3">Password reset email has been sent.</h1>
    <p class="fs-6 text-dark mb-0">Please follow email instruction.</p>
  </div>
  <div class="text-center">
    <span class="fs-6 text-dark me-1">
      Didn't receive the password reset email?
    </span>

    <span (click)="resendResetPasswordToken()"
      class="text-dark fs-6 fw-bolder cursor-pointer">
      Send again
    </span>
  </div>
}
